<style>
    a {
        width: 60%;
        cursor: pointer;
        display: block;
        margin-right: auto;
        margin-left: auto;
        font-size: 1vw;
    }

    .div {
        width: 30%;
        border-radius: 5px;
        padding: 20px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 2%;
    }

    div div {
        text-align: center;
        font-size: 4vw;
        border-left: 3px solid #0974ff;
        width: 60%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 10%;
        padding-left: 2%;
        color: #0974ff;
    }
</style>
<div class="div">
    <div>Erro 404</div>
    <a href="/" style="text-decoration: none;">
        <button type="button" class="btn btn-primary" style="font-size: 2vw;">Voltar a Home</button>
    </a>
</div>